.features {
  display: grid;
  place-items: center;

  &__header {
    padding-top: 5rem;
  }

  &__title,
  &__description {
    text-align: center;
    margin-inline: auto;
  }

  &__title {
    span {
      display: block;
      font-weight: $fw-600;
    }

    @include breakpoint(1110) {
      font-size: $fs-700;
    }
  }

  &__description {
    margin-block: 1.5rem 3rem;
    max-width: 55ch;

    @include breakpoint(1110) {
      margin-block: 1.5rem 4rem;
    }
  }

  &__cards {
    display: grid;
    grid-template-areas:
      'area1'
      'area2'
      'area3'
      'area4';
    gap: 2rem;
    padding-bottom: 4rem;

    @include breakpoint(1110) {
      grid-template-areas:
        '    . area2 .    '
        'area1 area2 area4'
        'area1 area3 area4'
        '    . area3 .    ';
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
